$gray-100: #5c5c5c;
$blue-100: #009cde;
$blue-200: #025fa6;
$blue-300: #122D98;
$gray-background: #f7f7f7;
$yellow-300: #ffce1f;
$primary-font: "Roboto", sans-serif;
$secondary-font: "Roboto Slab", serif;

.text-blue-100 {
  color: $blue-100;
}

.text-blue-200 {
  color: $blue-200;
}

.text-blue-300 {
  color: $blue-300;
}

.text-secondary {
  font-family: $secondary-font;
}

.bg-blue-200 {
  background-color: $blue-200;
}

.bg-blue-100 {
  background-color: $blue-100;
}
