div(class="max-w-screen-xl m-auto apps py-24 lg:pb-10 lg:flex")
    div(class="lg:w-2/5 apps__content")
        h2(class="px-8 md:px-10 pb-10 lg:pb-5 text-center text-4xl text-blue-100") Tus apps favoritas
        p(class="text-blue-200 font-light font-sm text-center m-auto w-9/12") Inscribe tus tarjetas en tus apps favoritas y así no tendrás que hacerlo cada que vayas a comprar y podrás disfrutar en cualquier momento películas, música y mucho más.
    div(class="apps__glide apps__items pt-20 lg:pt-4 lg:w-3/5")
        div(data-glide-el="track" class="glide__track")
            .glide__slides
                .app__item.glide__slide
                    img(src="./src/images/netflix.jpg", alt="netflix").rounded-lg.shadow-lg
                .app__item.glide__slide
                    img(src="./src/images/spotify.jpg", alt="spotify").rounded-lg.shadow-lg
                .app__item.glide__slide
                    img(src="./src/images/glovo.jpg", alt="glovo").rounded-lg.shadow-lg
