div(class="banner__wrapper lg:flex max-w-screen-xl m-auto lg:mb-20")
    div(class="banner relative lg:w-3/5")
        picture
            source(srcset="src/images/banner-lg-home.jpg" media="(min-width: 600px)")
            img(src="src/images/banner-sm-home.jpg", alt="Banner Home").w-full
        .logo.inline-block.absolute.rounded-lg
            img(src="./src/images/pacific.svg", alt="pacific")
    div(class="banner__content my-24 px-8 md:px-10 lg:w-2/5")
        h1.text-4xl.mb-10.leading-10 Gana con tu Mastercard PacifiCard Débito
        div(class="w-11/12")
            p.font-light.mb-6 ¡Prepárate para convertir todas tus compras online y en apps en premios, con tu tarjeta Mastercard PacifiCard Débito!
            p.text-blue-200 
                strong ¡A un clic de lo que quieres, a un clic de ganar!
        a(href="ganar.html")
            div(class="button button--dark text-white rounded-full text-center py-2 px-10 lg:px-10 md:px-8 inline-block mt-10") ¿Cómo ganar?