div(class="catalogo__item border-separate mb-16 ")
    .catalogo__wrapper.bg-white.shadow-lg
        .item__image
            img.w-full(src="src/images/netflix-catalogo.png", alt="")
        .item__content.text-center.px-4.pt-3.pb-10.relative
            p.text-blue-200.font-bold Bono Netflix por $50.000
            p.text-sm 250 Unidades disponibles
            button.catalogo__more +


