img(src="src/images/footer-detail.svg", alt="").footer__detail
footer(class="bg-blue-200")
    div(class="max-w-screen-xl m-auto footer")
        ul(class="footer__nav text-center lg:flex lg:justify-between lg:px-20")
            li
                a(href="index.html" title="Title Example") Inicio
            li
                a(href="ganar.html" title="Title Example") ¿Cómo ganar?
            li
                a(href="" title="Title Example") Redime tu premio
            li
                a(href="preguntas-frecuentes.html" title="Title Example") Preguntas frecuentes 
            li
                a(href="terminos.html" title="Title Example") Términos y condiciones
            //- li
            //-     a(href="contacto.html" title="Title Example") Contacto
        div(class="footer__logos lg:flex justify-evenly")
            ul.footer__social
                li
                    a(href="https://www.facebook.com/BancoPacificoEC" title="Title Example")
                        img(src="src/images/facebook.svg", alt="")
                li
                    a(href="https://www.facebook.com/BancoPacificoEC" title="Title Example")
                        img(src="src/images/twitter.svg", alt="")
                li
                    a(href="https://www.instagram.com/BancoPacificoEC/" title="Title Example")
                        img(src="src/images/instagram.svg", alt="")
            ul.footer__brands
                li
                    a(href="" title="Title Example")
                        img(src="src/images/master-card.svg", alt="")
                li
                    a(href="" title="Title Example")
                        img(src="src/images/footer-bdp.svg", alt="")
