img(src="src/images/footer-detail.svg", alt="").footer__detail
footer(class="bg-blue-200")
    div(class="max-w-screen-xl m-auto footer")
        ul(class="footer__nav text-center lg:flex lg:justify-between lg:px-20")
            li
                a(href="") Inicio
            li
                a(href="") ¿Cómo ganar?
            li
                a(href="") Redime tu premio
            li
                a(href="") Preguntas frecuentes 
            li
                a(href="") Términos y condiciones
            li
                a(href="") Contacto
        div(class="footer__logos lg:flex justify-evenly")
            ul.footer__social
                li
                    a(href="")
                        img(src="src/images/facebook.svg", alt="")
                li
                    a(href="")
                        img(src="src/images/twitter.svg", alt="")
                li
                    a(href="")
                        img(src="src/images/instagram.svg", alt="")
            ul.footer__brands
                li
                    a(href="")
                        img(src="src/images/master-card.svg", alt="")
                li
                    a(href="")
                        img(src="src/images/footer-bdp.svg", alt="")
