.ganar.mb-24.relative
    h2.text-4xl.text-white.text-center.mb-12.pt-12 ¿Cómo ganar?
    img(alt="" src="./src/images/border-detail-ganar.svg").w-full.absolute.bottom-0
div(class="max-w-screen-xl m-auto ganar__glide lg:pb-10")
    div(data-glide-el="track" class="glide__track")
        .glide__slides
            include ganar-item.pug
            include ganar-item.pug
            include ganar-item.pug
            include ganar-item.pug
            include ganar-item.pug
            include ganar-item.pug
        .controls.absolute.w-full
            .glide__arrows(data-glide-el="controls")
                span(class="glide__arrow glide__arrow--prev inline-block" data-glide-dir="<")
                span(class="glide__arrow glide__arrow--next inline-block" data-glide-dir=">")
            .glide__bullets(data-glide-el="controls[nav]")
                span(class="glide__bullet bg-gray-500 rounded-full w-3 h-3 mx-1 hover:bg-blue-300 inline-block" data-glide-dir="=0")
                span(class="glide__bullet bg-gray-500 rounded-full w-3 h-3 mx-1 hover:bg-blue-300 inline-block" data-glide-dir="=1")
                span(class="glide__bullet bg-gray-500 rounded-full w-3 h-3 mx-1 hover:bg-blue-300 inline-block" data-glide-dir="=2")
                span(class="glide__bullet bg-gray-500 rounded-full w-3 h-3 mx-1 hover:bg-blue-300 inline-block" data-glide-dir="=3")
                span(class="glide__bullet bg-gray-500 rounded-full w-3 h-3 mx-1 hover:bg-blue-300 inline-block" data-glide-dir="=4")
                span(class="glide__bullet bg-gray-500 rounded-full w-3 h-3 mx-1 hover:bg-blue-300 inline-block" data-glide-dir="=5")