.ganar__slider.rounded-lg.glide__slide
    .bg-white.pt-5.px-8.pb-24
        img(src="./src/images/ganar.svg", alt="Icon Example").tips__icon.pb-5
        p.font-light.text-center.text-sm <strong>Paga más rápido, fácil y seguro. </strong> Para hacerlo solo debes acercar tu tarjeta al datáfono y ¡listo! Y lo mejor es lo puedes hacer tú mismo, no es necesario que le entregues tu tarjeta a nadie, lo que hace este proceso mucho más seguro.