.ganar__slider.glide__slide
    div(class="bg-white pt-5 px-8 pb-24 lg:pb-10 rounded-lg")
        img(src="./src/images/ganar-5.svg", alt="Icon Example").tips__icon.pb-5
        p.font-light.text-center.text-sm 
          strong.text-blue-100 5. Al finalizar la campaña, sortearemos 5 bonos de SuperEasy de USD 300 
          | entre las personas que hayan redimido un premio. ¡Uno de estos bonos puede ser tuyo!