.ganar__slider.glide__slide
    div(class="bg-white pt-5 px-8 pb-24 lg:pb-10 rounded-lg")
        img(src="./src/images/ganar-3.svg", alt="Icon Example").tips__icon.pb-5
        p.font-light.text-center.text-sm
          strong.text-blue-100 3. Cuando cumplas tu meta, te enviaremos un co패digo a tu correo electro패nico 
          | con el que podra패s ingresar haciendo clic en el boto패n que dice: Redime tu premio.