.ganar__slider.glide__slide
    div(class="bg-white pt-5 px-8 pb-24 lg:pb-10 rounded-lg")
        img(src="./src/images/ganar.svg", alt="Icon Example").tips__icon.pb-5
        p.font-light.text-center.text-sm <strong class="text-blue-100">1. Utiliza tu tarjeta Mastercard PacifiCard Débito para hacer todas tus compras en internet y en apps</strong> desde el 21 de septiembre hasta el 21 de noviembre de 2020.