.ganar__slider.glide__slide
    div(class="bg-white pt-5 px-8 pb-24 lg:pb-10 rounded-lg")
        img(src="./src/images/ganar-2.svg", alt="Icon Example").tips__icon.pb-5
        p.font-light.text-center.text-sm
          strong.text-blue-100 2. Alcanza la meta que te enviamos a tu correo electrónico.