header.header
    div.p-8.flex.flex-column.justify-between.max-w-screen-xl.m-auto
        a(href="/")
            img(src="./src/images/logo.svg", alt="")
        div(class="button button--dark text-white rounded-full text-center py-2 px-5 lg:px-10 md:px-8") Redime tu premio