div(class="lg:max-w-xl m-auto preguntas p-8")
    h3.text-blue-100.text-xl.pb-6 Preguntas frecuentes
    include search.pug
    .accordion.mb-20
        include pregunta.pug
        include pregunta.pug
        include pregunta.pug
        include pregunta.pug
        include pregunta.pug
        include pregunta.pug