.tips__slider.rounded-lg.glide__slide
    .top.bg-blue-200.py-8
        img(src="./src/images/item-2.svg", alt="Icon Example").tips__icon.pb-5
        .title.text-white.text-secondary.text-xl.text-center.leading-6 ¡Haz tus compras online 
          br
          | de una forma segura!
    .bottom.bg-white.pt-5.px-8.tips__content
      ul.font-light.text-sm
        li Comprar en páginas reconocidas.
        li Digitar tú mismo el nombre de la página en el buscador.
        li Asegurarte de que la página tenga el ícono del candado y que comience con HTTPS//.
        li Ingresar tú mismo los datos de tu tarjeta, y no compartir imágenes de tu tarjeta por WhatsApp o correo electrónico.