.tips__slider.rounded-lg.glide__slide
    .top.bg-blue-200.py-8
        img(src="./src/images/item-5.svg", alt="Icon Example").tips__icon.pb-5
        .title.text-white.text-secondary.text-xl.text-center.leading-6 Conoce todos los 
          br
          | beneficios de tu tarjeta
    .bottom.bg-white.pt-5.px-8.tips__content
      ul.font-light.text-sm
        li Mejor control de tus gastos.
        li La Banca Virtual Interma패tico o Banca Mo패vil para revisar tus movimientos.
        li Acceso a todas las promociones realizadas por Mastercard, Banco del Paci패fico y PacifiCard.
        li Asistencias en el exterior a trave패s de Mastercard Global Service.