.tips__slider.rounded-lg.glide__slide
    .top.bg-yellow.py-8.item-6
        img(src="./src/images/item-6.png", alt="Icon Example").tips__icon
        .title.text-blue-200.text-secondary.text-xl.text-center.leading-6 Aprovecha 
          br
          | esta oferta
    .bottom.bg-white.pt-5.px-8.tips__content
      p.font-light.text-sm
        strong Por cada USD$15 en compras de Glovo, recibe GRATIS el próximo envío.
        br
        | *Válida solo 1 promoción por tarjeta.
        br
        | *El envío gratuito debe usarse en un plazo máximo después de realizada la compra.