.tips__slider.rounded-lg.glide__slide
    .top.bg-blue-200.py-8
        img(src="./src/images/icon-example.svg", alt="Icon Example").tips__icon.pb-5
        .title.text-white.text-secondary.text-xl.text-center.leading-6 ¿Conoces el pago <br> sin contacto?
    .bottom.bg-white.pt-5.px-8.pb-24
        p.font-light.text-center.text-sm <strong>Paga más rápido, fácil y seguro. </strong> Para hacerlo solo debes acercar tu tarjeta al datáfono y ¡listo! Y lo mejor es lo puedes hacer tú mismo, no es necesario que le entregues tu tarjeta a nadie, lo que hace este proceso mucho más seguro.